* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    width: 100vw;
    height: 18vh;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

